@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');


/**
 * Reset css.
 */
 * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/**
 * Déclaration des couleurs.
 */

 :root{
    --backgroundColorOne : #F5F3EF;
    --backgroundColorTwo : #FAF9F7; 
    --mainGreenColor : #00AC66;
    --legendColor : darkgrey;
    --hoverButtonColor : #006D41;
    --textColor : rgb(99, 97, 97);
 }

/**
* Valeur par défaut de toutes les balises
*/


body {
    font-family: "Roboto", "sans serif";
}

main {
    min-height: 53em;
    background-color: var(--backgroundColorTwo);
}

h1 {
    font-family: "Lora", serif;
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
} 


h2 {
    font-family: "Lora", serif;
    font-size: xx-large;
    font-weight: lighter;
}

a {
    text-decoration: none;
    color: inherit;
}

p {
    margin: 15px 15px 15px 0 ;
}

.erreur {
    height: 150px;
    width: 140px;
    display: flex;
    align-items: center;
    justify-content: center;
}

/*
* Bouton
*/

.button_type_1 {
    background-color: var(--mainGreenColor);
    color: white;
    display: inline-block;
    text-align: center;
    font-size: medium;
    text-decoration: none;
    padding: 20px 40px;
    font-size: 18px;
    font-weight: 500;
    border-radius: 10px;
    transition: background-color 0.3s ease;
}

.button_type_1:hover {
    background-color: var(--hoverButtonColor);
}

.button_type_2 {
    border: solid 1px var(--mainGreenColor);
    color: var(--mainGreenColor);
    display: inline-block;
    text-align: center;
    font-size: medium;
    text-decoration: none;
    padding: 19px 39px;
    font-size: 18px;
    font-weight: 500;
    border-radius: 10px;
    transition: background-color 0.3s ease;
}

.button_type_2:hover {
    background-color: var(--hoverButtonColor);
    color: #FFFF;
    border-color: var(--hoverButtonColor);
}

.button_container {
    text-align: center;
    margin-top: 50px;
}

form .button_type_1 {
    font-size: 20px;
    border: none;
    width: 330px;
}


/*
* Header
*/

header {
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: var(--backgroundColorOne);
    padding-bottom: 15px;
}

header > nav {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 20px;
}

.nav_right > a {
    margin-left: 50px;
}

.nav_left {
    display: flex;
    align-items: center;
    padding-right: 100px;
}
.nav_left > a {
    margin-left: 50px;
}

.logo {
    max-width: 55px;
    margin-right: 25px;
}

.logo_title{
    font-family: "Lora", serif;
    color: var(--mainGreenColor);
    font-size: 26px;
    font-weight: 600;
    margin-right: 50px;
}

.current_page{
    font-weight: bold;
}
/*************************************
************* PAGE HOME***************
**************************************/

/*
* Premier bloc : Rejoignez nos lecteurs passionnées
*/


.join_us {
    background-color: var(--backgroundColorOne);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 75vh; 
    padding: 20px;
}

.join {
    max-width: 370px;
    margin-right: 75px;
}

.join h2 {
    font-size: 36px;
    margin-bottom: 20px;
}

.join p {
    font-size: 18px;
    margin-bottom: 40px;
}

.join_picture .home_picture {
    max-width: 100%;
    height: auto;
    border-radius: 5px;
}

.caption{
    display: flex;
    justify-content: end;
    font-size: 13px;
    color: var(--legendColor);
}


/*
* Second bloc : Les derniers livres ajoutés
*/

.books_container{
    display: flex;
    justify-content: center;
    gap: 45px;
    padding-bottom: 15px;
}

.last_books {
    text-align: center;
    padding: 70px 0;
    background-color: var(--backgroundColorTwo);
}

.last_books > h2 {
    font-size: 36px;
    margin-bottom: 40px;
}

.book_title{
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    max-width: 180px;
}

.author{
    font-size: small;
}

.sold_by{
    font-size: 11px;
    padding-top: 20px;
}

.books_card {
    background-color: #FFFF;
    border-radius: 0 0 10px 10px;
    width: 225px;
    height: 340px;
    text-align: left;
}

.cart_background{
    background-color: lightgrey ;
}

.books_card img {
    width: 100%;
    height: 210px;
    object-fit: contain;
}

.books_card h3 {
    font-size: 17px;
    font-weight: 400;
    margin: 10px 0 5px 15px;
}

.books_card p {
    color: var(--legendColor);
    margin: 10px 0 0 15px;
}


/*
* Troisième bloc : Comment ça marche ?
*/

.how_it_works {
    text-align: center;
    padding: 70px 0;
    background-color: var(--backgroundColorOne);
}

.how_it_works > h2 {
    font-size: 36px;
    margin-bottom: 40px;
}

.how_it_works > p {
    color: var(--textColor);
    white-space: pre-line;
    padding-bottom: 25px;
}
.steps_container{
    display: flex;
    justify-content: center;
    gap: 40px;
}

.step{
    width: 245px;
    background-color: #FFF;
    padding: 30px 20px 30px 20px;
    text-align: center;
    border-radius: 5%;
}

/*
* Quatrième bloc : la bannière
*/

.banner > img {
    width: 100%;
    max-height: 230px;
    object-fit: cover;
}

/*
* Cinquième bloc : nos valeurs
*/

.values{
    text-align: center;
    padding: 70px 0;
    background-color: var(--backgroundColorOne);
}

.values_container > h2 {
    font-size: 36px;
    margin-bottom: 35px;
}

.values_container{
    color: var(--textColor);
    width: 23.5%;
    margin: 0px auto;
    text-align: left;
}

.signature_container{
    display: flex;
    justify-content: space-between;
}

.signature {
    font-size: 13px;
    color: var(--legendColor);
}


/******************************************
*************** PAGE CONNEXION ************
******************************************/

.connexion_form{
    display: flex;
    max-height: 100vh;
}

.left_half_connexion{
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: self-start;
    background-color: var(--backgroundColorTwo);
    overflow: hidden;
}

.form_container{
    width: 80%;
    max-width: 400px;
    margin-top: 11em;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    margin-top: 10px;
    font-weight: 400;
    color: var(--legendColor);
}


.form_title {
    font-size: 40px;
    margin-bottom: 50px;
    text-align: justify;
}


.form_input {
    width: 330px;
    height: 58px;
    margin: 5px 0 30px 0;
    padding: 10px;
    font-size: 16px;
    border: solid 1px rgb(221, 220, 220);
    border-radius: 10px;
}

.form_link{
    text-decoration: underline;
}
.right_half_connexion {
    width: 50%;
    display: flex; 
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.right_half_connexion img {
    display: flex;
    width: 100%;
    height: 100%;
    object-fit: cover;
}


/******************************************
******** PAGE AVEC TOUS LES LIVRES ********
******************************************/

.all_books_head {
    display: flex;
    justify-content: center;
    align-items: center; 
    padding: 110px 0 70px 0;
    gap: 27em;
}

.search-container {
    display: flex;
    align-items: center;
    position: relative;
}

.search-input {
    padding: 15px 15px 15px 35px;
    font-size: 1rem;
    border: 1px solid #ccc;
    border-radius: 10px;
    width: 300px;
    outline: none;
}

.search-input::placeholder {
    color: #aaa;
}

.search-icon {
    position: absolute;
    left: 10px;
    top: 18px;
    font-size: 1.2rem;
    color: #aaa;
}

.all_books_container{
    background: var(--backgroundColorTwo);
}

.all_books{
    background-color: var(--backgroundColorTwo);
    display: grid;
    grid-template-columns: repeat(4, 0fr);
    justify-content: center;
    padding-bottom: 85px;
    gap: 50px;

}


/******************************************
************** DETAILS DU LIVRE ************
******************************************/

.breadcrumb {
    display: flex;
    flex-direction: row;
    font-size: 14px;
    background-color: var(--backgroundColorOne);
    padding: 1em 0 1em 13em;
    color: #6c757d;
}

.breadcrumb a {
    color: var(--legendColor);
    text-decoration: none;
    display: flex;
}

.breadcrumb a:hover {
    text-decoration: underline;
}

.breadcrumb span {
    display: flex;

}

.separator {
    font-size: 14px;
    padding: 0 5px 0 5px;
}
.bookDetail {
    display: flex;
    height: 100vh;
    font-family: "Roboto", sans-serif;
}

.book_detail_left {
    width: 50%;
    display: flex; 
    justify-content: center;
    align-items: center;
    overflow: hidden;
    background-color: lightgrey;
}

.book_detail_left img {
    display: flex;
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.book_detail_right {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--backgroundColorTwo);
    overflow: hidden;
    padding: 0px 95px 0 35px;
    box-sizing: border-box; }

.detail_container_right {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 70%;
    height: 100%;
}

.detail_title > h1 {
    padding: 50px 0 30px 0;
}

.detail_author {
    color: var(--legendColor);
    font-size: large;
    font-family: "Roboto";
    font-weight: 400;
    margin-bottom: 20px;}

.deco_line{
    padding: 15px 0 15px;
}  

.detail_description{
    padding-bottom: 30px;
    font-size: medium;
    color: var(--textColor);
}

.subtitle{
    font-size: x-small;
    text-transform: uppercase;
    padding-bottom: 20px;
    padding-top: 20px;
}

.book_owner {
    display: flex;
    align-items: center;
    font-size: 1em;
    width: 200px;
    background-color: white;
    padding: 6px;
    justify-content: flex-start;
    border-radius: 30px;
    margin-bottom: 60px;
    transition: 0.3s;
}

.book_owner:hover{
    color:var(--mainGreenColor);
    font-size: 17px;
}

.detail_profile_picture {
    width: 55px;
    height: 55px;
    border-radius: 50%;
    margin-right: 10px; 
    object-fit: cover; 
}

/********************************************************
*************** MON COMPTE --- Informations ************
********************************************************/

.account_title {
    display: flex;
    padding: 2em 6.6em 2em;
}

.account_container {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 40px; /* Espace entre les deux colonnes */
}

.account_information {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 35%;
    height: 35em;
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.profile_info {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
}

.profile_picture {
    border-radius: 50%;
    width: 130px;
    height: 130px;
    object-fit: cover;
    margin-top: 30px;
}

.profile_edit {
    margin-top: 10px;
    font-size: 14px;
    color: var(--legendColor);
    cursor: pointer;
    text-decoration: underline;
}


.user_info {
    text-align: center;
}


.pseudo {
    font-size: 1.2em;
    font-weight: bold;
    margin: 10px 0;
}

.member_since {
    margin: 5px 0;
    color: var(--legendColor);
}

.user_info>.subtitle{
    padding: 15px 0 0 0;
    margin: 0;
}

.num_books {
    display: flex;
    align-items: center;
    margin: 0;
    justify-content: center;
}

.books_logo {
    width: 22px;
}

.perso_info {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.profile_form {
    align-items: flex-start;
}

.perso_info h3 {
    text-align: center;
    margin-bottom: 20px;
    font-size: large;
    font-weight: 400;
}


/********************************************************
*************** MON COMPTE --- Tableaux ************
********************************************************/

.adminBook {
    width: 90%;
    margin: 20px auto;
    background-color: var(--backgroundColorTwo);
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    overflow: hidden;
}

.bookLine {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    padding: 10px;
    border-bottom: 1px solid #ddd;
}

.bookLine.header {
    background-color: #f9f9f9;
    font-weight: bold;
    text-align: center;
}

.bookLine:not(.header):nth-child(even) {
    background-color: #f1f1f1;
}

.admin_title, .b_picture, .b_title, .b_author, .b_description, .b_availability, .b_action {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    text-align: center;
}

.b_picture img {
    max-width: 100%;
    max-height: 100px;
    object-fit: cover;
    border-radius: 4px;
}

.b_description {
    max-height: 104px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 5;
    -webkit-box-orient: vertical;
}

.available {
    background-color: var(--mainGreenColor);
    color: white;
    padding: 6px 20px 6px 20px;
    border-radius: 17px;
    font-size: small;
}

.not-available{
    background-color: indianred;
    color: white;
    padding: 6px 20px 6px 20px;
    border-radius: 17px;
    font-size: small;
}

.b_action a {
    margin: 0 5px;
    text-decoration: none;
    color: black;
}

.b_action .edit {
    color: #000;
}

.b_action .delete {
    color: #f44336;
}
/******************************************
*************** FOOTER ************
******************************************/

footer{
    height: 70px;
    background-color: #FFF;
    align-content: center;
}

.logo_footer{
    width: 30px;
}


.links_container { 
    display: flex;
    justify-content: flex-end;
    gap: 41px;
    padding-right: 55px;
    font-size: smaller;
    color: var(--textColor);
}








/******************************************
*************** RESPONSIVE ************
******************************************/


@media (max-width: 1200px) {

    .all_books {
        grid-template-columns: repeat(3, 1fr);
        justify-items: center;
    }
}

@media (max-width: 900px) {

    .all_books {
        grid-template-columns: repeat(2, 1fr);
        justify-items: center;
    }
}

@media (max-width: 600px) {

    .all_books {
        grid-template-columns: 1fr;
        justify-items: center;
    }
}